.latest_inner {
  width: 90vw;
  margin: 0 5vw;
  .latest_title {
    font-size: 44px;
    font-weight: bold;
    padding: 20px 0;
  }
  .latest_item_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .latest_item {
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 410px;
      .latest_image {
        height: 500px;
        width: 100%;
      }
      .latest_image img {
        width: 100%;
        height: 100%;
      }
      .item_name {
        font-size: 18px;
        color: rgb(125, 118, 118);
      }
    }
  }
}
