.subItemsWrapper{
    display: flex;
    flex-direction: column;

    transition: all 0.3s ease-in-out;

    .subItem{
        font-size: 14px;
        font-weight: 400;
        color: #000;
        text-decoration: none;
        cursor: pointer;
        display: block;
    }
}